* {
    margin: 0;
    padding: 0;
}

/* Geral - Start */
:root {
    --bs-primary-bg-subtle: #d1e500;
  }
.accordion-button {
    font-weight: 700;
}
.accordion-item {
    border: solid 2px #ffffff
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
.accordion-button.collapsed {
    background: #dee2e6
}
.accordion-body {
    padding: 35px 15px;
    overflow-x: scroll;
}
.btn_standard {
    width: 220px;
    text-align: center;
    display: inline-block;
    color: #222222;
    margin: 0;
    padding: 10px 20px;
    background-color: #d1e500;
    border-radius: 6px;
    -webkit-box-shadow: 0px 7px 0px 0px #bdc600; 
    box-shadow: 0px 7px 0px 0px #bdc600;
    text-decoration: none;
    font-weight: 700;
    transition:  all 0.2s ease;
}
.btn_standard:hover {
    text-align: center;
    display: inline-block;
    color: #222222;
    margin: 0;
    padding: 10px 20px;
    background-color: #d1e500;
    border-radius: 6px;
    -webkit-box-shadow: 0px 5px 0px 0px #bdc600; 
    box-shadow: 0px 5px 0px 0px #bdc600;
    text-decoration: none;
    font-weight: 700;
    transform: translateY(2px);
    transition:  all 0.2s ease;
}
.btn_standard:active {
    color: #222222;
    margin: 0;
    padding: 10px 20px;
    background-color: #d1e500;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 0px 0px #bdc600; 
    box-shadow: 0px 0px 0px 0px #bdc600;
    text-decoration: none;
    font-weight: 700;
    transform: translateY(7px);
    transition:  all 0.2s ease;
}
.font-bold {
    font-weight: 700;
}
.font-light {
    font-weight: 300;
}
/* Geral - End */

/* Home - Start */
.coderhouse-home-body {
    height: 100vh;
    background-color: #222222;
    padding: 50px;
    overflow-y: scroll;
}
#coderhouse-home-section, 
#coderhouse-home-section-logs, 
#coderhouse-home-section-accordion,
#coderhouse-home-section-website-access {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}
.coderhouse-home-logoch {
    display: flex;
    margin: 0;
    padding: 0 0 20px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.coderhouse-home-logoch a , .coderhouse-home-logoch a img {
    width: 100%;
    height: auto;
    max-width: 350px;
}
.coderhouse-home-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.coderhouse-home-name h2 {
    text-align: center;
    font-size: x-large;
    color: #ffffff;
    padding: 0 0 40px 0;
}
.coderhouse-home-name img {
    margin: 2px 0 0 10px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.coderhouse-home-website-access {
    border: solid 2px #ffffff;
    color: #ffffff;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}
.coderhouse-home-website-access-title {
    margin: 0 0 20px 0;
}
.coderhouse-home-website-access-subtitle {
    margin: 0 0 5px 0;
}
.coderhouse-home-accordion {
    width: 100%;
    border-radius: 10px;
}
.coderhouse-home-logs {
    background-color: #ffffff;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
}
.coderhouse-home-logs h3 {
    margin: 0  0 20px 0;
}
.coderhouse-home-logs p {
    margin: 0  0 10px 0;
}
.row-standard {
    max-width: 1200px;
    width: 100%;
}
.required {
    color:#ffffff;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 15px;
    border-radius: 10px;
    margin: 0 15px;
    animation: changeColor 0.8s infinite alternate;
}
@keyframes changeColor {
    from {
        background-color: #c1272d;
    }
    to {
        background-color: #db8e00;
    }
}



#coderhouse-home-section-current-version {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.coderhouse-home-current-version {
    text-align: center;
    padding: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #3a3a3a;
    margin: 30px 0 0 0;
    padding: 10px;
}
.coderhouse-home-current-version h5 {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}
.coderhouse-home-current-version h5 a {
    margin: 0;
    font-weight: 300;
    font-size: 12px;
}
.coderhouse-home-current-version h5 , .coderhouse-home-current-version h5 a {
    color: #ffffff;
}
.btn_icon_right {
    margin-left: 10px;
}
.btn_icon_left {
    margin-right: 10px;
}

/* Home - End */

/* Site Map - Start */

#coderhouse-website-map {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#coderhouse-website-map .row {
    min-width: 870px;
}
#coderhouse-website-map header {
    margin-bottom: 15px;
}
.sitemap_title {
    margin: 15px auto 0 auto;
    width: 200px;
    background-color: #303F4E;
    padding: 15px;
    border-radius: 30px;
}
.sitemap_title h4 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}
.sitemap_pages {
    width: 100%;
}
.sitemap_page {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    line-height: 1.2;
}
.sitemap_page span {
    margin: 12px 0 0 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}
.sitemap_page_color0 {
    background-color: #6d6d6d;
}
.sitemap_page_color1 {
    background-color: #5FC3A3;
}
.sitemap_page_color2 {
    background-color: #3DCDDA;
}
.sitemap_page_color3 {
    background-color: #2BA9FA;
}
.sitemap_page_color4 {
    background-color: #BA4FE5;
}
.sitemap_page_color5 {
    background-color: #EAA748;
}
.sitemap_subpage {
    margin: 16px 0 0 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    line-height: 1.2;
}
.sitemap_subpage_color0 {
    background-color: #6d6d6d;
}
.sitemap_subpage_color1 {
    background-color: #147958;
}
.sitemap_subpage_color2 {
    background-color: #008491;
}
.sitemap_subpage_color3 {
    background-color: #005db3;
}
.sitemap_subpage_color4 {
    background-color: #6e059a;
}
.sitemap_subpage_color5 {
    background-color: #a45b07;
}
.sitemap_line {
    background-color: #b3b3b3;
}
.sitemap_line_vertical {
    width: 4px;
    height: 50px;
    margin: auto;
}
.sitemap_line_horizontal {
    width: 82%;
    height: 4px;
    margin: auto;
}
.sitemap_line_horizontal2 {
    width: 100%;
    height: 4px;
    margin: auto 0 auto 100px;
}
.sitemap_info {
    margin: 30px 0 0 0;
    text-align: center;
    width: 100%;
}
.sitemap_info .btn_standard {
    width: 280px !important;
    margin-top: 30px !important;
}
.sitemap_icon_figma {
    margin: 0 10px 0 0;
    padding: 0;
    width: 14px;
    height: auto;
    text-decoration: none;
}

/* Site Map - End */

/* Aula 10 - Start */

.aula10_box {
    width: 300px;
    height: 100px;
    background-color: #9C27B0;
    padding: 0;
    margin: 20px;
    transform: rotate(0deg);
    transition: all 0.2s;
    cursor:auto;
}
.aula10_box:hover {
    transform: rotate(10deg);
    transition: all 0.2s ease;
    background-color: #d00e4b;
    cursor:not-allowed;
}
.aula10_box p {
    font-family:'Times New Roman', Times, serif;
    color: #04bcff;
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 5em;
    line-height: 100px;
    transition: all 0.2s;
    text-align: left;
}
.aula10_box:hover p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 3em;
    line-height: 100px;
    transition: all 0.7s ease-in;
    margin-left: 300px;
}
.aula10_box .aula10_hoverme {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 0 0 20px;
    color: rgba(255,255,255,1);
    transition: all 0.2s;
}
.aula10_box:hover .aula10_hoverme {
    font-size: 0px;
    margin: 0 0 0 20px;
    color: rgba(255,255,255,0);
}

/* Aula 10 - End */

/* Aula 14 - Start */

.aula14_box {
    width: 450px;
    height: 100px;
    background-image: linear-gradient(to top, blue, green);
    background-color: #d00e4b;
    padding: 0;
    margin: 20px;
    transform: rotate(0deg);
    transition: all 0.2s;
    cursor:auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.aula14_box:hover {
    transform: rotate(10deg);
    transition: all 0.2s ease;
    background-image: none;
    cursor:not-allowed;
}
.aula14_frase {
    display: none;
}
.aula14_box:hover .aula14_frase {
    display: inline-block;
}
.aula14_box p {
    color: #04bcff;
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 5em;
    line-height: 100px;
    transition: all 0.1s;
    text-align: left;
}
.aula14_box:hover p {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 3em;
    line-height: 100px;
    transition: all 0.7s ease-in;
    margin-left: 450px;
}
.aula14_box .aula14_hoverme {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 0 0 20px;
    color: rgba(255,255,255,1);
    transition: all 0.2s;
}
.aula14_box:hover .aula14_hoverme {
    font-size: 0px;
    margin: 0 0 0 20px;
    color: rgba(255,255,255,0);
}
.aula14_radialgrad {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-image: radial-gradient(purple, red);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 30px;
    overflow: visible;
    border: dotted 8px #000000;
    animation-duration: 6s;
    animation-name: girar;
    animation-iteration-count: infinite;
}
@keyframes girar {
    0% { transform: rotate(0deg);}
    50% { transform: rotate(720deg); margin-left: 400px;}
    100% { transform: rotate(0deg); margin-left: 0;}         
}
.aula14_postit-container{
    margin: 50px 20px;
    position: relative;
    width: 250px;
    height: 250px;
}
.aula14_postit-frame{
    width: 250px;
    height: 250px;
    border: solid 5px #000000;
    background-color: #6d6d6d;
    position: absolute;
}
.aula14_postit-content {
    width: 250px;
    height: 250px;
    background-color: #b8252b;
    border: solid 5px #000000;
    color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 3s;
    animation-name: postit;
    animation-iteration-count: infinite;
    transform: skewY(0deg) scalex(100%);
    transition: all 0.5s ease-in;
}
.aula14_postit-content:hover {
    transform: skewY(20deg) scalex(80%);
    transition: all 0.5s ease-in;
    cursor: progress;
}
/* Aula 14 - End */

/* Aula 14 - Start */

.aula16_container {
    border: solid 2px #d00e4b;
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
}
.aula16_container > div {
    border: dotted 2px #005db3;
    color: #ffffff;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.aula16_container > div:nth-of-type(1) {
    background-color: #147958;
}
.aula16_container > div:nth-of-type(2) {
    background-color: #2BA9FA;
}
.aula16_container > div:nth-of-type(3) {
    background-color: #db8e00;
}
.aula16_container > div:nth-of-type(4) {
    background-color: #BA4FE5;
}
.aula16_container > div:nth-of-type(5) {
    background-color: #a45b07;
}

.aula16_container2 {
    margin: 50px auto;
    width: 100%;
    max-width: 900px;
    min-width: 600px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.aula16_container2 div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.aula16_container2_nav {
    width: 200px;
    height: 100%;
    background-color: #f37b38;
}
.aula16_container2_body {
    width: calc(100% - 200px);
    height: 100%;
    background-color: #0f9fd5;
    flex-wrap: wrap;
    flex-direction: column;
}
.aula16_container2_header {
    width: 100%;
    height: 120px;
    background-color: #0f9fd5;
}
.aula16_container2_contentcontainer {
    width: 100%;
    height: calc(100% - 120px - 110px);
    flex-direction: row;
}
.aula16_container2_footer {
    width: 100%;
    height: 110px;
    background-color: #1287b3;
}
.aula16_container2_content {
    width:  calc(100% - 210px);
    height: 100%;
    background-color: #554592;
}
.aula16_container2_sidebar {
    width: 210px;
    height: 100%;
    background-color: #f39d62;
}



/* Aula 14 - End */